header {
    position: relative;
    height: 64px;
    width: 794px;
    color: red;
    background-color: $main-color;
    border: 3px solid #8B4513;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: $header-fonts;
    color: #8B4513;

    .header-text {
        font-size: 24px;
        display: inline-block;
    }
    
    .exit-button {
        transform: scale(2,2);
        right: 10px;
        top: 15px;
        cursor: pointer;
        position: absolute;
    }

    .exit-button:hover {
        transform: scale(2.2,2.2)
    }

    .add-text {
        margin-left: 0;
        margin-bottom: 0;
        height: 32px;
        display: flex;
        align-items: flex-end;
        
        .add-text1 {
            font-size: 15px;
            margin-left: 2px;
            margin-bottom: 7px;
        }
        .add-text2 {
            margin-left: 13px;
            font-size: 15px;
            margin-bottom: 7px;
        }
    }
    
}

.main-content {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

.massanger {
    height: 397px;
    width: 794px;
    background-color: $background-color;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden; 
    font-family: $main-fonts;
    border-left: 3px solid #8B4513;
    border-right: 3px solid #8B4513;
    border-bottom: 3px solid #8B4513;
}

.massage {
    display: flex; 
    flex-wrap: wrap;

    .info-box {
        display: flex;
        width: 150px;
        align-items: center;
        justify-content: center;
        border-right: 2px solid black;

        .creater {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $main-color;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            cursor: pointer;
        }

        .creater:hover {
            background-color: #8B4513;
        }
    
        .date {
            font-size: 16px;
            margin-left: 8px;
        }
    }

    .text-box {
        margin: 10px;
        line-height: 20px;
        width: 610px;
    }

    .author {
        margin-left: 7px;
    }

    .text {
        margin-top: 2px;
        background-color: $massage-color;
    }
}

::-webkit-scrollbar { 
    width: 6px; 
}

::-webkit-scrollbar-track-piece { 
    background-color: $main-color;
}

::-webkit-scrollbar-thumb { 
    height: 50px; 
    background-color: #8B4513; 
    border-radius: 3px;
}

// ::-webkit-scrollbar-button {  
//     background-color: red; 
//     height: 10px;
// }

